/*Media queries 768 px*/
@media screen and (max-width: 768px) {
    header {
        background-color: white;
    }
    .derecha{ 
        float: left;
    }

    .navigator {
        color: black;
    }
    
    .tamañoimg{
        max-width: 768px;
        min-width: 100px;
    }

    .rest{
        top: 7%;
        left: 4%;
        font-size: 165%;
    }

    .rest2{
        top: 12%;
        left: 4%;
        font-size: 80%;
    }

    #container{
        margin-left: 10%;
        margin-right: 10%;
    }
    .tamañoimg2{
        width: 100%;
        border-radius: 7px;
        padding-bottom: 10px;
    }

    #nosaltres{
        text-align: center;
    }

    .cocina{
        width: 100%;
        border-radius: 7px;
        margin-top: -60px;
    }

    /* Aqui empieza la seccion maquetada con grid */
    .contenedor{
        gap: 1px;
    }
    .carta{
        grid-column: 1/1;

        text-align: center;
        color: #12203e;
    }
    .menu{
        background-color: #12203e;
    }
    .menuizquierda{ 
        width: 100%;
        height: 100%;
        line-height: 45em;
    }

    .contingut{
        margin-left: 10px;
    }

    /*Aplico otro grid en las imagenes, ya que no se aplica el grid principal*/
    .imagenesmenu{
        flex-wrap: wrap;
    }
    
    .imgmenu1{
        width: 100%;
    }
    
    .imgmenu2{
        grid-column: 1;
        grid-row: 2;
        width: 100%;
    }
    .imgmenu3{
        width: 100%;
    }
    
    .imgmenu4{
        grid-column: 1;
        grid-row: 2;
        width: 100%;
    }

    /*Para poner pie de pagina encima de foto*/
    .imagenesmenu , .imagenesmenu2{
        display:table;
    }

    .imgmenu1, .imgmenu2, .imgmenu3, .imgmenu4 {
        margin:0;
        padding:0;
        margin-top: 35px;
    }

    .imagenesmenu .txt, .imagenesmenu2 .txt{
        line-height: 45%;
        display:table-caption;
        margin:0;
        padding:0;
        background:rgba(0, 0, 0, 0.4);
        color:white;
        text-align:center;
        position:relative;
        height:0;
    }

    .imagenesmenu .txt, .imagenesmenu2 .txt{
        background:rgba(0, 0, 0, 0.4);
        display:block;
        padding: 40px;
        text-shadow:0 0 15px white;
        margin-top: -80px;
    }
    
    /*menu 2*/
    .menuizquierda2{
        margin-top: 70px;
        width: 100%;
        line-height: 45em;
        height: 93.5%;
    }

    .contingut2{
        margin-top: 70px;
        margin-left: 10px;
    }

    /*Aqui empieza la galeria de imagenes*/
    .galery{
        margin-top: 80px;
    }
    .imageflex{
        width: 44%;
        margin-left: 16px;
        border: 1px solid black;
        border-radius: 5px;
        margin-right: 10px;
        margin-top: 10px;
        padding: 3px;
    }
    
    .imageflex1{
        border: 1px solid black;
        border-radius: 5px;
        margin-right: 10px;
        margin-top: 10px;
        padding: 3px;
        width: 44%;
        margin-left: 16px;
        
    }

    /*Aqui empieza el footer*/
    .restaurant {
        margin-top: 16px;
        margin-left: 21%;
    }
    
}
