/*Aqui empieza el menu con float*/
body{
    margin: 0px;
}
header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: black;
    margin: 0%;
    height: 5%;
    z-index: 1;
  }
.derecha{ 
    float: right;
}

.clearfix{
    clear: both;
}

button{
    all:unset;
    margin: 11px;

}
.navigator {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    color: white;
}
.navigator:hover, a:focus {
    background-size: 100% 2px;
}
/* Aqui empieza el sobre nosaltres maquetado con float*/
#container{
    margin-left: 15%;
    margin-right: 15%;
}
.tamaño{
    width: 100%;
}

.tamañoimg{
    width: 100%;
    min-width: 1200px;
}

.rest{
    position: absolute;
    top: 40%;
    left: 15%;
    color: white;
    font-weight: lighter;
    font-size: 175%;
    z-index: 0;
}
.rest2{
    position: absolute;
    top: 45%;
    left: 15%;
    color: white;
    font-size: 100%;
    padding-top: 1%;
}

span{
    font-weight: 1000;
}

.sobre{
    margin-top: 5%;
}
.tamañoimg2{
    width: 20%;
    float: left;
    margin-right: 16px;
}

.sobre2{
    margin-top: 105px;
}

.cocina{
    width: 20%;
    float: right;
}
/* Aqui empieza la seccion maquetada con grid */
.contenedor{
    display: grid;
    gap: 30px;
    margin-top: 80px;
    width: 100%;
}
.carta{
    grid-column: 1;
    grid-row: 1;
    font-size: 150%;
}

.menu{
    width: 100%;
    background-color: black;
    margin: 0%;
    height: 45px;
    color: white;
    text-align: center;
    padding-top: 12px;
    line-height: 29px;
    grid-column: 1/4;
    grid-row: 2;
}

.menuizquierda{
    border: 1px solid black;
    grid-column: 1;
    grid-row: 3/4;
    width: 110%;
    height: 95%;
    text-align: center;
    margin-top: 20px;
    line-height: 22em;
}

.contingut{
    grid-column: 2/4;
    grid-row: 3;
}
/*Aplico otro grid en las imagenes, ya que no se aplica el grid principal*/
.imagenesmenu{
    display: grid;
}

.imgmenu1{
    grid-column: 1;
    grid-row: 1;
    width: 93%;
    margin-left: 0%;
}

.imgmenu2{
    grid-column: 2;
    grid-row: 1;
    width: 93%;
}
.txt, .txt2 {
    display: none;
}


.menuizquierda2{
    border: 1px solid black;
    grid-column: 1;
    grid-row: 4/4;
    width: 110%;
    height: 95%;
    text-align: center;
    margin-top: 20px;
    line-height: 22em;
}

.contingut2{
    grid-column: 2/4;
    grid-row: 4;
}
/*Aplico otro grid en las imagenes, ya que no se aplica el grid principal*/
.imagenesmenu2{
    display: grid;
    grid-column: 1;
    grid-row: 1;
}

.imgmenu3{
    grid-column: 1;
    grid-row: 1;
    width: 93%;
}

.imgmenu4{
    grid-column: 2;
    grid-row: 1;
    width: 93%;
}

/*Aqui empieza la galeria de imagenes maquetada con flex-wrap*/
.contenedorflex{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.imageflex{
    width: 23%;
    margin-right: 10px;
    margin-top: 10px;
}

.imageflex1{
    width: 23%;
    margin-right: 10px;
    margin-top: 10px;
    filter: brightness(50%);
}

.imageflex:hover{
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 3px;
    filter: brightness(70%);
}

.imageflex1:hover{
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 3px;
    filter: brightness(30%);
}
/*Aqui empieza el footer*/
.containerfooter{
    display: flex;
    background-color: black;
    color: white;
}

.imgfooter{
    width: 18px;
    height: 20px;
    margin-top: 15px;
    margin-left: 25px;
    padding-left: 2px;
    padding-right: 2px;
}

.restaurant {
    margin-left: 67%;
}



.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
.video-overlay button {
border: none;
background-color: transparent;
color: white;
font-size: 2rem;
margin: 0 1rem;
cursor: pointer;
}

.video-overlay button:hover {
color: gray;
}



.video-container {
    position: relative;
    margin-bottom: 30px;
}

.video-controls {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;

}

.video-controls button {
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}

video{
    width: 100%;
}

.video-container button.play::before {
    content: '\25BA'; 
  }
  
  .video-container button.pause::before {
    content: "\f04c";

  }
  
  .video-container button.mute::before {
    content: '\1F508'; 
  }
  
  .video-container button.unmute::before {
    content: '\1F50A'; 
  } 
  

